[Desktop Entry]
Name={{__cursor__}}
Comment=Some description of this application.
Exec=<<absolute path to the executable script>>
Icon=<<absolute path to the icon>>
Terminal=false
Type=Application
Categories=Utility;
